[Unit]
Description=Create Intel GVT-g vGPU

[Service]
Type=oneshot
ExecStart=/bin/bash -c "echo 'a754c2bc-847d-4611-9eae-fc33cb967445' > /sys/devices/pci0000:00/0000:00:02.0/mdev_supported_types/i915-GVTg_V5_4/create"
ExecStop=/bin/bash -c "echo '1' > /sys/devices/pci0000:00/0000:00:02.0/a754c2bc-847d-4611-9eae-fc33cb967445/remove"
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
